header {
  padding: 40px 0;
}

.completed-todos p {
  text-decoration: line-through;
}

.category-row {
  margin: 5px 0;
}

.tasks {
  margin: 20px 0;
}

.task-btn {
  width: 40px;
  margin: 0 5px;
}

.task-row {
  margin: 0 5px 0 5px;
}

.card-header p {
  margin: 0;
}

.text-grey {
  color: #696969;
}

.text-small {
  font-size: 0.8em;
}

#calendar {
  margin-right: 5px;
}
